:root{
    --primary-color: #A21232;
    --secondary-color: #1A1831;
    /* --third-color: #20615B; */
    --third-color: #262626;
    --fourth-color: #DECE9C;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--third-color);
}
a{
    text-decoration: none;
}
h1,h2,h3,p{
    margin-top: 0;
}
/* Estilos header */
#navbar{
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    width: 100vw;
}

#navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
#navbar ul li{
    font-weight: 500;
    padding: .25rem .5rem;
    font-size: 1.25rem;
}
#navbar ul li a{
    color: var(--fourth-color);
}

/* Estilos bienvenida */
#welcome-section{
    background-image: url('https://images.unsplash.com/photo-1517134191118-9d595e4c8c2b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.65);
    color: var(--fourth-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    /* padding: .25rem; */
}
.welcome-name{
    font-size: 26px;
    font-weight: 700;
    font-style: oblique;
    line-height: 1.1;
    letter-spacing: .050rem;
    color: #eee;
    margin-bottom: .5rem;
}
.welcome-description{
    color: #A21232;
    font-weight: 500;
}
#welcome-section h2{
    margin-top: 1rem;
    margin-bottom: 0;
    /* font-size: 2.5rem; */
    text-align: center;
}
/* Estilos seccion proyectos */
#projects{
    /* background-color: var(--third-color); */
    background-color: var(--third-color);
    padding: 1rem;
}
#projects h2{
    color: whitesmoke;
    text-align: center;
}
.projects-container{
    display: grid;
    grid-template-columns: 1fr;
}
.project-tile{
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
}
.project-img{
    width: 100%;
    height: auto;
}
.project-img img{
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
}
.project-info{
    background-color: var(--third-color);
    color: whitesmoke;
    padding: 1rem 0.5rem;
}
.project-info .description{
    font-size: 1rem;
    line-height: 1.5;
}
.project-btns{
    display: flex;
    justify-content: space-between;
}
.project-btns .btn{
    color: whitesmoke;
    border: 1px solid grey;
    border-radius: .5rem;
    padding: .25rem .75rem;
}

/*Estilos de contacto*/
#contact{
    background-color: #45567d;
    max-width: 100%;
    height: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    text-align: center;
}
.contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contact-container a{
    padding: .5rem 1rem;
}
.contact-container i{
    font-size: 1.5rem;
    color: whitesmoke;
    
}
.contact-container span{
    margin-left: .25rem;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 700px){
    #navbar .nav{
        width: 98%;
        margin: auto;
    }
    #navbar ul{
        justify-content: flex-end;
    }
    .projects-container{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
    }
}

@media (min-width: 1000px){
    #navbar .nav{
        width: 70%;
    }
    /* .welcome-name{
        font-size: 2.5rem;
    }
    .welcome-description{
        font-size: 1.5rem;
    }
    #welcome-section h2{
        font-size: 3.5rem;
    } */
    #projects{
        width: 70%;
        margin: auto;
    }
    .projects-container{
        grid-column-gap: 3rem;
    }
    /* .project-number{
        font-size: 1rem;
    }
    #project-title{
        font-size: 1.5rem;
    } */

    .project-btns{
        justify-content: space-around;
    }
}

